<%- include header %>

  <% if (user) { %>
  <p> 
    个人资料
    <a class="edit" href="/editprofile/<%= user.name%>">编辑</a>
  </p>
  <p class="info">
    用户名：<%= user.name %><br />
    email：<%= user.email %><br />
  </p>
  <% } %>
<%- include footer %>